.wrapper{
  width: 100%;
  position: relative;
  cursor: pointer;
}
.icon{
  color: #fff;
  font-size: 3rem;
}
.wrapper p{
  width: 100%;
  max-width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  color: black;
  font-size: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 10px;
}

@media screen and (max-width: 650px) {
  .icon{
    font-size: 2.5rem;
  }
  .wrapper p{
    max-width: 1.4rem;
    height: 1.4rem;
     font-size: 0.8rem;
     right: 0;
     top: -5px;
  }
}