.wrapper{
  border: 1px red solid;
  width: 100%;
  max-width: 30rem;
}
.form{
  width: 100%;
}
.title{
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  color: #1b1b32;
}
.signup{
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  color: #1b1b32;
}
.signup span{
  cursor: pointer;
  margin-left: 0.3rem;
  color: #0f6ce7;
}
@media screen and (max-width: 650px) {
  .wrapper{
  padding: 1em;
}
.title{
  font-size: 1.5rem;
}
}