.wrapper{
  border: 1px red solid;
  width: 100%;
  max-width: 30em;
  margin: 5em 0;
}
.title{
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  color: #1b1b32;
}
.form{
  width: 100%;
}
.error{
  margin-bottom: 1em;
  color: red;
}
.signin{
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  color: #1b1b32;
}
.signin span{
  cursor: pointer;
  margin-left: 0.3rem;
  color: #0f6ce7;
}