.wrapper {
  border: 1px red solid;
  width: 100%;
  padding: 2.5rem 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  text-transform: capitalize;
  color: #1b1b32;
  margin-bottom: 1rem;
}
.itemsWrapper{
  border: 1px red solid;
  width: 100%;
}
.total {
  border: 1px red solid;
  width: 100%;
  font-size: 1.5rem;
  color: #1b1b32;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.cartItemsContainer {
  border: 1px red solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.button button{
  font-size: 1.3rem;
  padding: 0.8rem;
  background-color: #1b1b32;
  border: none;
  outline: none;
  border-radius: 0.1rem;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.button button:hover{
  background-color: #131335;
}
@media screen and (max-width: 950px) {
  .wrapper {
    padding: 2rem;
  }
  .cartItemsContainer {
    gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .cartItemsContainer {
    gap: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}
